/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ffcffb;
    background-color: #83087d;
  }

.divider4sections {
    border: dotted  #ffcffb;
}
.javaPic {
    margin: 10px;
    max-width: 1000px;
}
.ricePic {
    margin: 10px;
    max-width: 500px;
}
